
body{
	font-family: axiforma-regular,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
	text-rendering: optimizeLegibility;
	background-color:white;
	/* font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */

	 
}
#container{
	background-image: url("https://res.cloudinary.com/urbanclap/image/upload/images/growth/home-screen/1615375782838-f890f8.jpeg");

	/* background-image:
	linear-gradient(to bottom, rgba(255,255,0,0.5), rgba(0,0,255,0.5)),
	url('catfront.png'); */
	
	height: 800px;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
}
#navbar{
	width:99%;
	display: grid;
	padding-top: 10px;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(1,50px);
	
}
#navbar>img{
	width: 60%;
	padding-left:100px;
	margin: auto;
	padding-right: 100px;
}

#navbar1{
	padding-left: 1100px;
	
}
#navbar1>div{
	margin-left:0px;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(1,100px);
	color: white;
	text-decoration: none;
}

#navbar1>div>div{
	width: 400%;
	padding-left: 20px;
	padding-top: 10px;
	font-size: 20px;
	color: white;
	
}
#navlink1>a{
	color: white;
	text-decoration: underline;
	text-decoration: none;

}
#navbar2>div>a{
	color: white;
	text-decoration: none;
}
#navlink2>a{

	color: white;
	text-decoration: none;
	padding-left: 120px;
}
#topmain{
	width: 80%;
	margin: auto;
	text-align: center;
	margin-top: 130px;
}

#topmain>h1{
	padding-top: 30px;
	font-size: 50px;
	color: white;
}

#searchBox{
	width: 60%;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: repeat(1,auto);
	margin: auto;
	padding-left: 50px;
}

#btn{
	font-size: 25px;
	padding:5px 5px;
	height: 35px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	position:relative;
	top:1px;
	left: -88px;
	margin-top: 2px;

}


#names{
	margin: auto;
	/* margin-left: -200px; */
	color: white;
	font-size: 25px;
	margin-top: -20px;
	text-decoration: underline;  

}
#searchTxt{
	width: 100%;
   margin: auto;  
   font-size: 20px;
   border: 0px;
   border-radius: 5px;
   margin-bottom: 10px;
   margin-right: 650px;
   padding: 25px 25px;
}
 
#names{
	margin: auto;
	/* margin-left: -200px; */
	color: white;
	font-size: 25px;
	margin-top: -20px;
	text-decoration: underline;  

}
#searchTxt{
	width: 100%;
   margin: auto;  
   font-size: 20px;
   border: 0px;
   border-radius: 5px;
   margin-bottom: 10px;
   margin-right: 500px;
   padding: 18px 18px;
}
#midesec{
	width: 65%;
	margin:auto ;
	margin-top: -300px;
	background-color: white;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
	border-radius: 10px;
	padding-bottom: 25px;
}

#midesec1{
	width: 90%;
	margin: auto;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(6,1fr);
	grid-template-rows: repeat(1,auto);
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 40px;
	gap: 5px;
   
}
#midesec1>div{
	padding-top: 8px;
	 
}
#midesec2>div{
	padding-top: 8px;
	padding-bottom: 30px;
 
}
#midesec1>div:hover{
	background-color:gainsboro;
}
#midesec2>div:hover{
	background-color:gainsboro; 
}

#midesec1>div>img{
	width: 25%;
}
#midesec1>div>p{
	font-size: 14px;
}
#midesec2{
	
	width: 60%;
	margin: auto;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: repeat(1,90px);
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 10px;
	gap: 5px;
}
#midesec2>div>img{
	width: 25%;
}
#midesec2>div>p{
	font-size: 14px;
}
#searchBox>button{
	padding: 0px 60px;
	width: 80%;
	height: 100%;
	background-color: white;
	border: solid 1px white;
	border-radius: 15px;
	margin-right: 10px;
	font-size: 20px;
}
.home{
 
 display: flex;
 justify-content: space-around;
 gap: 10px;
 width: 90%;
 margin: auto;
 
 padding-top: 18px;
 margin-bottom: 25px;
}
.home1{
	display: flex;
 justify-content: center;
	gap: 20px;
	width: 68%;
	margin: auto;
	border-radius: 8px;
	/* background-color: white; */
	padding-top: 18px;
	margin-bottom: 25px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.home1>div>img{
	width:40%;
}
.home1>div:hover{
 
 

 
		background-color:gainsboro;
 
	 
}
.home1>div{
	text-align: center;
	padding: 0px 15px;
	margin-bottom: 8px;
	padding-top: 5px;
 
}
.home>div{
 
text-align: center;

}
.home>div>img{
	width:90%;
}
.image{
	display: block;
	text-align: center;
	width: 90%;
	margin: auto;
}
#emg{
	border-radius: 15px;
	width: 200px;
	height: 60%;
}
h1{
	text-align: center;
	color: 
	#3f414d;
}
 h3{
	text-align: center;
	color: gray;
 }
 .main{
	margin-bottom: 20px;
 padding-top: 8px;
 padding-bottom: 8px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }
 img:hover{
	transform: scale(1.15); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
 }

 #containe{
	width: 100%;

	height:auto;
	background-color: black;




}
 
.child{
	display: flex;
	gap: 28px;
	padding-left: 120px;
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 19px;
	font-weight: 500;
	/* line-height: 10px; */

	color:#9b9b9b
}
 

h3{
	color: white;
	padding-left: 120px;
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 20px; 

}
h4{
	color: white;
	padding-left: 120px;
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

#om{
	color: white;
}
#endSecBot>img{

width:30%;
margin-left: 150px;
margin-bottom: 30px;

}

hr{

height: 0px;
width: 86%;
border: 0.5px solid rgb(28, 28, 28);
background-color: rgb(24, 24, 24);
margin: auto;
margin-top: 20px;
margin-bottom: 30px;
}



#new_media{
display: flex;
gap: 30px;
width: auto;
background-color: black;

}


.media>img{

background-color: white;
border-radius: 20px;
width: 150%;
margin-top: 23px;

}
#bottom{
display: flex;

}

#logo{
width: 15%;
margin-left: 250px;


}
#apple{
border-radius: 5%;
width: 11%;
height:50%;
}
a{
	text-decoration: none;
	color: black;
}
#na{
	display:flex;
	justify-content: space-between;
 background-color: white;
	width: 100%;
	box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
	

}
#nad{
	display: flex;
	float: right;
	position: relative;
 bottom: 150px;
 left: 80px; 
 gap: 18px;
}
 
#nad>div>img{
	margin-top: 8px;
	width: 40%;
}
#nad>div{
	text-align: center;
	position: relative;
	top: 50px;
	right: 80px;
}
#nad>div>img:hover{
 
	background-color:gainsboro; 
}
#hair{
	position: relative;
	top: 3px;
}
#women{
	position: relative;
	bottom: 10px;
}
input{
	margin-top: 25px;
	margin-bottom: 25px;
	width: 50%;
	padding-left: 50px;
	padding: 14px;
	border: 1px solid gray;
	border-radius: 6px;
	margin-left: 8%;
	 ;
}
 
 #na{
	 
	position: sticky;
	top: 0px;
 }
 img:hover {
	transform: scale(1.0.01); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
@media all and (min-width: 401px) and (max-width: 800px) {

.child {
	display: grid;
	grid-template-columns: repeat(3, 1fr);}

#container{
width:auto;
}
	 
	  }
	  .search-container form {
		position: relative;
	}
	#na>.search-container>button{
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 50px;
		background: transparent;
		border: transparent;
		font-size: 20px;
		color: #4b00ff;
		cursor: pointer;
		outline: 0;
	}
	#scc{
position: relative;
right: 660px;

	}


 #na{
	display: none;
	position: sticky;
	top: 0px;
 }
 #display>div{
	 position: relative;
	 bottom: 20px;
	 left: 150px;
	 color:silver
 }
 #display>div:hover{
	background-color: silver;
	color: #3f414d;
 
 }
 
 #nad>div:hover{
	transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
 }
/* Small screens */
@media all and (min-width: 100px) and (max-width: 400px) {
		 
	.child{
	display: grid;
	grid-template-columns: repeat(2, 1fr);}
	#container{
width:auto;
}

}


