* {
  padding: 0;
  margin: 0;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#navbar {
  width: 100%;
  height: 60px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.nav {
  height: 100%;
  /* border: 1px solid green; */
}
#navbar > div:nth-child(1) {
  width: 10%;
  height: 70%;
  margin-top: 10px;
}
#navbar > div:nth-child(2) {
  width: 60%;
  display: flex;
  justify-content: space-around;
  margin-left: 50px;
}
.nav > img {
  height: 100%;
}
.nav > div > h3 {
  margin-top: 15px;
  width: 100%;
  font-size: 17px;
  color: #666;
  cursor: pointer;
}
#booking {
  width: 50%;
  height: auto;
  /* border: 2px solid red; */
  margin: auto;
  text-align: center;
  margin-top: 50px;
}
#book {
  width: 40%;
  height: auto;
  display: flex;
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 20px;
}
#book > div {
  width: auto;
  padding: 4%;
  border: 2px solid black;
  cursor: pointer;
}
#book > div:nth-child(1) {
  background-color: black;
  color: white;
  margin-left: 60px;
}
#button {
  width: 40%;
  height: auto;
  /* border: 2px solid red; */
  margin: auto;
  text-align: center;
  margin-top: 50px;
}
#button > p {
  font-size: 18px;
  width: 80%;
  margin: auto;
}
#btn {
  width: auto;
  padding: 2%;
  margin-top: 20px;
  font-size: 17px;
  background-color: black;
  color: white;
  cursor: pointer;
}
@media all and (min-width: 551px) and (max-width: 790px) {
  .nav > div:nth-child(1) > h3,
  .nav > div:nth-child(2) > h3 {
    display: none;
  }
  #button {
    width: 65%;
  }
  #button > p {
    font-size: 16px;
  }
  #book > div:nth-child(1) {
    margin-left: none;
  }
  #book {
    width: 80%;
  }
}

@media all and (min-width: 320px) and (max-width: 550px) {
  .nav > div:nth-child(1) > h3,
  .nav > div:nth-child(2) > h3,
  .nav > div:nth-child(3) > h3,
  .nav > div:nth-child(4) > h3 {
    display: none;
  }
  #button {
    width: 100%;
  }
  #button > p {
    font-size: 16px;
  }
  #book {
    width: 80%;
  }
}
