#header{
    display: flex;
    justify-content: space-between;
    
   
   
}
#header>div{
    display: flex;
    gap: 20px;
   width: 15vw;
   justify-content: space-between;
   height: 8vh;
  
  
}

#header>div>img{
    height:5vh;
    margin:auto;
}
body{
    width:75%;
    margin: auto;
}
#banner{
    display: flex;
}