#header{
    display: flex;
    justify-content: space-between;
    
   

}
#header>div{
    display: flex;
    gap: 20px;

   /* height: 8vh;
   
   width:18vw;
   justify-content: space-between;
    */

   width: 15vw;
   justify-content: space-between;
   height: 8vh;
  
  

}
#header>div>img{
    width:20%;
    height: 5vh;
    margin: auto;
}
body{
    width:75%;margin: auto;
}
span{
    color:gray
}
#banner{
    display: flex;
   
  justify-content: space-between;
   height: 45vh;
   width: 100%;
  
}
#banner>div{
    /* border:2px solid green;
   margin: auto; 
    margin-left: 0px;
    gap:50px
    */
    height: 40vh ;
    width: 45%;
   
    
   
}
#banner>div>div{
    margin-top: 80px;
 
}
#banner>div:nth-child(2)>img{
/* height: 45vh;
width: 40vw;
border-radius: 10px;
margin-right: -150px; */
width: 100%;
height: 40vh ;
border-radius: 10px;
}
#banner>div>h1{
    font-size: 40px;
    
}
#banner>div>div{
    border:1px solid black;
    width:5vw;
    border-radius: 5px;
}
#navbar{
    display: flex;
   
    position: -webkit-sticky;
   
    position: sticky;
    top: 0%;
    background-color: white;

}
#navbar>div{
    
    width:6vw;
    text-align: center;
   
}
#navbar>div>img{
    border-radius: 5px;
}
/* #container{
   display: flex;
    border: 1px solid green;

}
#cont{
   
   border: 1px solid lightcoral; 
} */

/* #cont2{
    border: 1px solid black;
} */

/* #head{
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
}
#head>div{
    border: 2px solid blue;
    
   
}
#cont1>div{
   border: 1px solid skyblue; 
   
}
#cont1>div>img{
    margin-left: 250px;
   margin-top: -80px;
  
} */
.addbtn{
    /* margin-left: 270px; */
    margin:auto;
    padding:3px 20px;
    background-color:white;
    border: 1px solid rgb(135, 125, 125);
    border-radius: 5px;

}

#head{
    display: flex;
   
   
}
#head>div{
    width:50%;
   height: 100%;
   
box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
padding-left: 10px;
line-height:10px ;
}
#cont1{
    display:grid;
    grid-template-columns: 80% 20%;
  
   
}
#imgbtn{
    text-align: center;
    margin-top: 20px;
}
#cont2{
   
    display: grid;
    /* position: -webkit-sticky; */
    position: sticky;
    top:120px;
    justify-content: space-around;
    border:2px solid blue
   
}
#middle{
    display: flex;
}
#middle>div{
   
    width:50%;
    height:400px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

}
#middle>div>h1{
    width:70%;
    margin: auto;
    line-height: 50px;
    margin-top: 30px;
}
#middle>div>p{
    width:70%;
    margin: auto;
    line-height: 25px;
}
/* #cont1>div:first-child{
   border-right: 1px solid grey;
    /* line-height: 10px; */
    /* height: 100%; */
  
#end>div{
    width:50%
}

#footer{
    /* display: flex; */
    /* justify-content: space-between; */
    background-color: rgb(233, 228, 228);
    height:400px;
    padding: 10px;

}
#footer>div{
    
    display: flex;
   
    justify-content: space-around;
    margin-top: 50px;
}

#footer>div>div>p{
    color: grey;
}
/* #footer>img{
    width:20%;
    height:20%
} */

#cartbtn{
    
     background-color:pink;
     padding: 13px 26px;
     border: 0;
     border-radius: 5px;

}

.offer{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 5px 15px;
  
}
#cont2>div{
    margin-bottom: 70px;
}
#carttotalAmount{
    display: flex;
    justify-content: space-around;
}