#page_layout {
  /* padding: 1rem; */
}
#page_container {
  width: 90vw;
  margin: 1.5rem;
}
#body {
  flex-direction: column-reverse;
}

#plusContainer {
  grid-template-columns: repeat(2, 1fr);
}
#benefitsColumn,
#planSelectorColumn {
  width: 100%;
}
