*{
    margin:0px;
    padding: 0px;
}
#page_layout{
    width: 100vw;
    height: 100vh;
    margin-top: 30px;
}
#page_container{
    width: 50vw;
    margin: auto;
}
@font-face {
    /* font-family: Sauce_Grotesk_Light;
    src: url("./Sauce.Grotesk/Sauce\ Grotesk\ Light.ttf"); */
    font-family: Sauce_Grotesk;
    src: url("./Sauce.Grotesk/Sauce\ Grotesk\ Regular.ttf");
}

#header{
    width:100%;
    margin: auto;
}

i.custom{
    color: var(--primary_grey);
    font-weight: 600;
    font-size: 1.6rem;
}
#plusDetails{
    width: 100%;
    margin: auto;
    margin-top: 3rem;
}
#plusDetails>img{
    width:144px;
    /* height:72px; */
}

#plusDetails>div{
    width:100%;
    margin: auto;
    font-size:2.4rem;
    font-family: Sauce_Grotesk;
    font-weight: 700;
    color: var(--primary_grey);
    line-height: 3.2rem;
    margin-bottom: 2rem;
}
#subOffer{
    display: flex;
    /* font-family: Sauce_Grotesk_Light; */
}
#subOffer>img{
    margin-right: 1rem;
}
#subOffer>span{
    font-size: 1.4rem;
    font-family: Sauce_Grotesk;
    color: var(--primary_green);
}

#body{
    display: flex;
    margin-top: 2rem;
    font-family: Sauce_Grotesk;
}
#benefitsColumn{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-right: 32px;
    width: 60vw;
    /* background-color: azure; */
}
#planSelectorColumn{
    width: 40vw;
    /* background-color: aliceblue; */
}
.divider{
    background-color: var(--light_grey);
    width: 100%;
    height: 0.8rem;
    /* border: 1px solid green; */
    margin: 0.75rem 0 2rem;
}

#other_benefits{
    width: 100%;
}

#other_benefits>p{
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: var(--primary_grey);
}

.icon_benefits{
    display: flex;
    margin-bottom: 1rem;
    gap: 1rem;
    align-items: center;
}
.icon_benefits>img{
    height: 36px;
}

.benefit_title{
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
}

.benefit_desc{
    font-size: 1rem;
    color: var(--secondary_grey);
}
#savings>div>div>p:first-child{
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    color: var(--primary_grey);
}

#savings>div:first-child{
    display: flex;
    justify-content: space-between;
}

#amt_saved{
    font-size: 3.6rem;
    font-weight: 700;
    color: var(--primary_green);
    margin-bottom: 2rem;
}

#number_services>p{
    color: var(--primary_grey);
    font-weight: 300;
    font-size: 1.4rem;
    /* margin-bottom: 1rem; */
}

#number_btns{
    margin: 1rem 0;
    margin-bottom: 2rem;
}

.number_btn{
    width: 36px;
    height: 36px;
    margin: 0.1rem;
    color: var(--secondary_grey);
    /* padding: 12px; */
    background-color: white;
    border-radius: 8px;
    border: 1px solid lightgrey;
    cursor: pointer;
}

#number_services>div:last-child{
    display: flex;
    gap:1.5rem;
    align-items: center;
}

#number_services>div:last-child>p{
    color: var(--secondary_grey);
    font-size: 1.4rem;
}

#plusInNumber>p{
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: var(--primary_grey);   
}

#plusContainer{
    display: grid;
    gap:1rem;
    margin: 2rem 0;
    grid-template-columns: repeat(4, 1fr);
}

.plusBox{
    border-radius: 5px;
    padding: 2rem;
    /* border: 1px solid green; */
}

.plusBox>p:nth-child(2){
    font-weight: 600;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    color: var(--primary_grey);
}

.plusBox>p:nth-child(3){
    font-size: 1.2rem;
    color: var(--secondary_grey);
}

.box_green{
    background-color: #EDF7F2;
}
.box_purple{
    background-color: #F2F0FF; 
}
.box_yellow{
    background-color: #FFF7D6;
}
.box_brown{
    background-color: #FDF3F2;
}
#reviews{
    margin-bottom: 2rem;
}
#reviews>p{
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: var(--primary_grey); 
}

.load_review_btn{
    padding: 1rem;
    position: relative;
    left: 11vw;
    font-weight: 600;
    font-family: Sauce_Grotesk;
    color: var(--primary_grey);
    background-color: white;
    border-radius: 8px;
    border: 1px solid lightgrey;
    cursor: pointer;
}


#review_container{
    width: 100%;
}

.review{
    width: 100%;
}
.reviewer_details{
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.reviewer_details>img{
    border-radius: 8px;
}
.reviewer_details>ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviewer_details>ul>li>p:first-child{
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.reviewer_details>ul>li:first-child>p:nth-child(2){
    font-size: 1.4rem;
    color: var(--secondary_grey);
}

.reviewer_details>ul>li>div>p{
    font-weight: 600;
    font-size: 1.4rem;
}

.reviewer_details>ul>li>div{
    display: flex;
    gap: 0.4rem;
    justify-content: flex-end;
}

.reviewer_details>ul>li:nth-child(2)>p{
    font-size: 1.2rem;
    color: var(--secondary_grey);
}
.message{
    margin: 2rem 0;
    font-size: 1.4rem;
    color: var(--primary_grey);
}

#FAQs>p{
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: var(--primary_grey); 
}

.question{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    color: var(--primary_grey);
}

.answer{
    color: var(--primary_grey);
    font-size: 1.4rem;
    display: none;
}

li{
    list-style: none;
}

hr{
    height: 1px;
    background-color: var(--light_purple);
    margin: 2rem 0;
    border: none;
}

#CTA{
    position: fixed;
    width: 20%;
    bottom: 0px;
    background-color: white;
}
#plusDiscount{
    background-color: var(--light_green);
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

#plusDiscount>span{
    color: var(--primary_green);
    font-size: 1.4rem;
}

#CTA_btn{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

#prices{
    display: flex;
    gap: 1rem;
}

#payAmount{
    font-weight: 700;
}

#strThrAmount{
    text-decoration: line-through;
    font-size: 1.4rem;
    color: var(--secondary_grey);
}

#CTA_btn>button{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1.2rem;
    font-size: 1.4rem;
    cursor: pointer;
}

.btn_purple>i{
    font-size: 1.5rem;
}

/* #selectPlan{ */
    /* position: fixed;
    top: 0; */


#selectPlan>p{
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: var(--primary_grey); 
}

#plans{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1rem;
}

#plan12, #plan6{
    border-radius: 8px;
    border: 1px solid var(--light_grey);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#plan12>div>p:first-child{
    color: var(--primary_green);
    text-transform:uppercase;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#plan12>div>p:nth-child(2), #plan6>div>p:nth-child(1){
    font-weight: 600;
    margin-bottom: 1rem;
}

#plan12>div>div>span:nth-child(2),#plan6>div>div>span:nth-child(2){
    font-size: 1.4rem;
    text-decoration: line-through;
}

#plan12>button, #plan6>button{
    height: 3.6rem;
}

#noPlan{
    margin: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}

#noPlan>span, #noPlan>i{
    color: #8a1e08;
    font-weight: 700;
}

#noPlan>i{
    font-size: 1.8rem;
}